[submodule "backend"]
	path = backend
	url = https://github.com/manuelmartinezr/cnn-prediction-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/gabrielabermejo/doctor-scan-frontend.git
